[defaults]
host_key_checking = False
inventory = inventory
private_key_file = ~/.ssh/ansible_key

# yaml callback is deprecated
stdout_callback = default
result_format = yaml
# bin_ansible_callbacks = True

gathering = smart
fact_caching = memory
retry_files_enabled = False

[ssh_connection]
ssh_args = -o ControlMaster=auto -o ControlPersist=60s -o StrictHostKeyChecking=no
pipelining = True
